In [ ]:
!wget https://gist.githubusercontent.com/astrofrog/b29141f2b39bb2dfe7ce/raw/c9334a579b21ad69a24696480ddf05678369fc41/earthquakes.csv

In [3]:
import numpy as np
import pandas as pd

In [82]:
df = pd.read_csv("earthquakes.csv")

In [7]:
df.head(1)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-09-10T18:28:00.300Z,52.111,178.2967,121.25,5.3,mb,NaN,41.0,0.964,0.79,us,usb000sb5e,2014-09-10T19:00:35.547Z,"23km NW of Little Sitkin Island, Alaska",earthquake

In [42]:
df["lat:lon"] = df['latitude'].apply(str) + ':' + df['longitude'].apply(str)

In [43]:
df["lat:lon"].head(1)

0    52.111:178.2967
Name: lat:lon, dtype: object

In [46]:
df['time'].describe()

count                         2858
unique                        2858
top       2014-09-10T18:28:00.300Z
freq                             1
Name: time, dtype: object

In [83]:
df['datatime'] = pd.to_datetime(df['time'])

In [49]:
df['datatime'].head(1)

0   2014-09-10 18:28:00.300000+00:00
Name: datatime, dtype: datetime64[ns, UTC]

In [54]:
date = "2014-09-10T18:28:00.300Z"
date_obj = pd.to_datetime(date)
date_obj.strftime('%A')

'Wednesday'

In [88]:
df['datatime'][0].strftime('%A %B %C %D')

'Wednesday September 20 09/10/14'

In [107]:
df.set_index(['datatime'])

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type,inprecise
datatime,,,,,,,,,,,,,,,,
2014-09-10 18:28:00.300000+00:00,2014-09-10T18:28:00.300Z,52.1110,178.2967,121.25,5.3,mb,NaN,41.0,0.964,0.79,us,usb000sb5e,2014-09-10T19:00:35.547Z,"23km NW of Little Sitkin Island, Alaska",earthquake,121
2014-09-10 16:31:59.480000+00:00,2014-09-10T16:31:59.480Z,-24.6524,179.1728,528.24,5.3,mb,NaN,88.0,5.254,0.86,us,usb000sb48,2014-09-10T17:19:15.617Z,South of the Fiji Islands,earthquake,528
2014-09-10 16:01:48+00:00,2014-09-10T16:01:48.000Z,62.5897,-152.0797,5.00,4.2,ml,NaN,NaN,NaN,0.78,ak,ak11385482,2014-09-10T16:31:10.413Z,"105km WNW of Talkeetna, Alaska",earthquake,5
2014-09-10 14:52:49.860000+00:00,2014-09-10T14:52:49.860Z,12.9885,144.6495,51.75,4.8,mb,NaN,105.0,0.634,0.72,us,usb000sb3j,2014-09-10T19:04:47.878Z,"30km S of Merizo Village, Guam",earthquake,51
2014-09-10 14:08:21.290000+00:00,2014-09-10T14:08:21.290Z,36.5759,69.0370,52.39,4.0,mb,NaN,71.0,1.351,0.54,us,usb000sb2c,2014-09-10T15:29:02.360Z,"13km SSW of Khanabad, Afghanistan",earthquake,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-07-03 15:17:08.080000+00:00,2014-07-03T15:17:08.080Z,-55.2698,-28.1136,28.59,4.4,mb,NaN,95.0,4.948,0.99,us,usb000rvyq,2014-08-07T21:56:27.982Z,"169km NNW of Visokoi Island,",earthquake,28
2014-07-03 15:10:34.640000+00:00,2014-07-03T15:10:34.640Z,-5.8425,102.9363,45.05,4.4,mb,NaN,182.0,1.472,0.71,us,usb000rvy4,2014-08-07T22:09:09.295Z,"127km SW of Kuripan, Indonesia",earthquake,45
2014-07-03 14:43:41.600000+00:00,2014-07-03T14:43:41.600Z,36.7556,-98.0476,5.00,3.1,ml,NaN,98.0,NaN,0.61,us,usc000rpy8,2014-08-09T21:23:27.000Z,"27km E of Cherokee, Oklahoma",earthquake,5
2014-07-03 14:34:02.810000+00:00,2014-07-03T14:34:02.810Z,-22.3635,-179.4592,597.36,4.3,mb,NaN,108.0,5.155,0.70,us,usb000rvy9,2014-08-09T21:03:54.000Z,"205km SSW of Ndoi Island, Fiji",earthquake,597
2014-07-03 14:23:43.550000+00:00,2014-07-03T14:23:43.550Z,55.2114,166.9672,10.00,4.5,mb,NaN,62.0,4.890,0.89,us,usc000rpy1,2014-08-23T14:52:53.000Z,"62km E of Nikol'skoye, Russia",earthquake,10

In [108]:
df.dtypes

time                      object
latitude                 float64
longitude                float64
depth                    float64
mag                      float64
magType                   object
nst                      float64
gap                      float64
dmin                     float64
rms                      float64
net                       object
id                        object
updated                   object
place                     object
type                      object
datatime     datetime64[ns, UTC]
inprecise                  int64
dtype: object

In [91]:
df['inprecise'] = df['depth'].astype(int)
df.dtypes

time                      object
latitude                 float64
longitude                float64
depth                    float64
mag                      float64
magType                   object
nst                      float64
gap                      float64
dmin                     float64
rms                      float64
net                       object
id                        object
updated                   object
place                     object
type                      object
datatime     datetime64[ns, UTC]
inprecise                  int64
dtype: object

In [122]:
df2 = pd.read_csv("earthquakes.csv", index_col=0)

In [126]:
df2.index.dtype

dtype('O')

In [127]:
df2.index = pd.to_datetime(df2.index)

In [128]:
df2.index.dtype

datetime64[ns, UTC]

In [129]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2858 entries, 2014-09-10 18:28:00.300000+00:00 to 2014-07-03 14:23:43.550000+00:00
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   2858 non-null   float64
 1   longitude  2858 non-null   float64
 2   depth      2858 non-null   float64
 3   mag        2857 non-null   float64
 4   magType    2857 non-null   object
 5   nst        255 non-null    float64
 6   gap        2410 non-null   float64
 7   dmin       2350 non-null   float64
 8   rms        2857 non-null   float64
 9   net        2858 non-null   object
 10  id         2858 non-null   object
 11  updated    2858 non-null   object
 12  place      2858 non-null   object
 13  type       2858 non-null   object
dtypes: float64(8), object(6)
memory usage: 334.9+ KB

In [136]:
df2.dropna(axis  =1, inplace=True)

In [137]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2858 entries, 2014-09-10 18:28:00.300000+00:00 to 2014-07-03 14:23:43.550000+00:00
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   2858 non-null   float64
 1   longitude  2858 non-null   float64
 2   depth      2858 non-null   float64
 3   net        2858 non-null   object
 4   id         2858 non-null   object
 5   updated    2858 non-null   object
 6   place      2858 non-null   object
 7   type       2858 non-null   object
dtypes: float64(3), object(5)
memory usage: 201.0+ KB

In [139]:
df3 = df2[['latitude','longitude','type','depth']]

In [140]:
df3.sample(5)

                                  latitude  longitude        type   depth
time
2014-07-13 00:02:05.200000+00:00   14.4960   -92.6900  earthquake   33.00
2014-07-11 11:56:39.990000+00:00   29.5886   103.0098  earthquake   10.00
2014-07-24 13:58:41.990000+00:00   13.9464   145.2192  earthquake  103.48
2014-07-20 02:49:44.590000+00:00   -3.5852   143.8877  earthquake   40.89
2014-07-29 07:42:41.540000+00:00   23.7831    94.4006  earthquake   41.30

In [152]:
df3.type.unique()

array(['earthquake', 'mining_explosion'], dtype=object)

In [161]:
df3[df3.type == 'earthquake'].depth.max()

636.37

In [170]:
df3.type.value_counts()

earthquake          2857
mining_explosion       1
Name: type, dtype: int64

In [175]:
df3['depth'][df3.type == 'earthquake'].resample('12h').count()
df3.depth[df3.type == 'earthquake'].resample('12h').count()

time
2014-07-03 12:00:00+00:00    21
2014-07-04 00:00:00+00:00    22
2014-07-04 12:00:00+00:00    29
2014-07-05 00:00:00+00:00    32
2014-07-05 12:00:00+00:00    33
                             ..
2014-09-08 12:00:00+00:00    18
2014-09-09 00:00:00+00:00     9
2014-09-09 12:00:00+00:00    16
2014-09-10 00:00:00+00:00    14
2014-09-10 12:00:00+00:00     9
Freq: 12H, Name: depth, Length: 139, dtype: int64

In [179]:
df4 = df3.depth[df3.type == 'earthquake'].resample('12h').count()
df4.info()

<class 'pandas.core.series.Series'>
DatetimeIndex: 139 entries, 2014-07-03 12:00:00+00:00 to 2014-09-10 12:00:00+00:00
Freq: 12H
Series name: depth
Non-Null Count  Dtype
--------------  -----
139 non-null    int64
dtypes: int64(1)
memory usage: 2.2 KB

In [191]:
df3.loc[df3["depth"] >= 600]

                                  latitude  longitude        type   depth
time
2014-08-19 15:38:17.890000+00:00  -22.0549  -179.4757  earthquake  606.46
2014-08-16 07:52:57.400000+00:00  -21.4059  -179.2903  earthquake  610.08
2014-08-15 07:12:18.950000+00:00  -13.6367   170.0283  earthquake  616.50
2014-08-11 21:00:15.770000+00:00  -21.3504  -179.2357  earthquake  609.41
2014-08-01 14:12:03.220000+00:00  -21.0504  -178.9537  earthquake  636.37
2014-07-29 18:47:31.560000+00:00  -19.4100  -177.9185  earthquake  610.69
2014-07-27 06:19:41.270000+00:00  -21.4239  -179.0724  earthquake  609.71
2014-07-26 21:08:33.720000+00:00  -21.2122  -179.1038  earthquake  601.53
2014-07-26 21:07:20.180000+00:00  -21.2584  -179.0994  earthquake  620.72
2014-07-25 09:52:40.390000+00:00  -19.9663  -178.3440  earthquake  609.71
2014-07-25 00:02:39.430000+00:00  -21.3529  -179.2242  earthquake  623.28
2014-07-24 03:10:28.430000+00:00  -17.9808  -178.5161  earthquake  632.60
2014-07-23 12:29:06.880000+00:00  -19.6173  -178.1662  earthquake  601.32
2014-07-21 17:26:19.030000+00:00  -19.2885  -178.4308  earthquake  633.18
2014-07-21 15:56:28.070000+00:00  -17.7310  -178.5553  earthquake  616.17
2014-07-21 14:54:41+00:00         -19.8015  -178.4001  earthquake  615.42
2014-07-20 11:01:20.260000+00:00  -13.0158   168.9227  earthquake  620.60
2014-07-17 20:30:22.530000+00:00  -20.7286  -178.6176  earthquake  614.86
2014-07-11 08:46:23.910000+00:00  -21.0973  -179.1499  earthquake  611.30
2014-07-07 02:32:17.820000+00:00  -23.6400   179.8928  earthquake  625.02
2014-07-07 02:29:31.540000+00:00  -18.0149  -178.5031  earthquake  636.03
2014-07-04 18:55:50.080000+00:00  -20.6727  -179.0454  earthquake  624.94

In [204]:
df3.index.month.value_counts().sort_index()

7    1616
8     981
9     261
Name: time, dtype: int64