In [ ]:
%pip install pandas

In [ ]:
import numpy as np
import pandas as pd

In [22]:
a_data = np.array([1,2,3,4,5,6])
a_series = pd.Series(a_data, ["A", "B", "C", "D", "E", "F"])

print(a_series)
print(a_series[5])

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64
6

In [23]:
data = np.arange(6).reshape((3, 2))
data

array([[0, 1],
       [2, 3],
       [4, 5]])

In [28]:
df1 = pd.DataFrame(data)
df1

   0  1
0  0  1
1  2  3
2  4  5

In [30]:
df1.columns = ["A", "B"]
df1.index = [ "I", "II", "III"]
df1

     A  B
I    0  1
II   2  3
III  4  5

In [34]:
df2 = pd.DataFrame(np.random.rand(3,2))
df2

          0         1
0  0.482022  0.852654
1  0.691735  0.762818
2  0.124932  0.661848

In [44]:
df2.columns = ["A", "B"]
df2.index = [ "I", "II", "III"]
df2

            D         E
I    0.482022  0.852654
II   0.691735  0.762818
III  0.124932  0.661848

In [49]:
df3 = pd.concat([df1,df2], axis=1)
df3

ValueError: No axis named 2 for object type DataFrame